# macOS
.DS_Store

# Xcode build output
build/
DerivedData/

# Xcode user-specific settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Obj-C / Swift
*.hmap
*.ipa
